<div class="skin-blue">
    <aside class="right-side">
        <!-- Main content -->
    <h3>Count of cars for kilometers</h3>
        <li><span class="pull-left"><strong>Kilometers
            Interval</strong></span> <span>
            <select ng-model="curKilometer" ng-change="getChangeData(curKilometer)" ng-options='k for k in kilometers'  ></select></span>
            </li>
    <canvas id="doughnut" class="chart chart-doughnut"
            chart-data="data" chart-labels="labels" chart-legend="labels">
    </canvas>
    <br>
        <h3>Count of cars for price</h3>
        <li><span class="pull-left"><strong>Prices
            Interval</strong></span> <span>
            <select ng-model="curPrice" ng-change="getChangePrice(curPrice)" ng-options='p for p in prices'  ></select></span>
        </li>
        <canvas id="pie" class="chart chart-pie"
                chart-data="dataPrice" chart-labels="labelsPrice" chart-legend="labelsPrice">
        </canvas>

        <br>
        <h3>Count of cars for year</h3>
        <li><span class="pull-left"><strong>Years
            Interval</strong></span> <span>
            <select ng-model="curYear" ng-change="getChangeYear(curYear)" ng-options='y for y in years'  ></select></span>
        </li>
        <canvas id="polar-area" class="chart chart-polar-area"
                chart-data="dataYear" chart-labels="labelsYear" chart-legend="labelsYears">
        </canvas>
    </aside>
</div>