<div class="skin-blue">
    <aside class="right-side">
        <!-- Main content -->
      <!--  <section class="content"> -->

            <div ng-repeat-start="(id, car) in carsData">

                <table id="t01">
                    <div class="clearfix float-my-children">
                        <td width="120" valign="top" style="padding-right: 0px">
                            <img ng-src="{{car.image}}" width=100></td>
                        <td width="320" valign="top" align="left"
                            style="border-left: 0px; padding-left: 0px;">
                                                    <span style="font-size: 15px;"><b>{{car.make}}
                                                        {{car.model}}</b></span>
                            <br>
                            <span>{{car.type}}, </span>
                            <span>{{car.engineType}}, {{car.transmission}}, </span>
                            <br>
                            <span>{{car.color}}, {{car.power}} kw/h</span>
                        </td>
                        <td width="60" valign="top" align="center">
                            <span>{{car.year}}</span>
                        </td>
                        <td width="100" valign="top" align="center">
                            <span class="span-right"><strong>{{car.price}}</strong></span>
                        </td>
                        <td width="120" valign="top" align="right">
                            <span ng-bind="car.postDate | date:'dd/mm/yyyy'" class="span-right">{{car.postDate}}</span>
                        </td>


                    </div>
                </table>


                <div class="col-lg-8 col-xs-8">
                    <!-- small box -->
                    <div class="small-box bg-gray">
                    </div>
                    <div>


                        <div class="col-lg-22 col-xs-32">
                            <!-- small box -->
                      <!--      <div class="box box-info">
                                <div class="box-header">
                                    <div class="inner"> -->
                                        <table>
                                      <!--      <tr>
                                                <th align="left">
                                                    <div style="float: left;"></div>
                                                </th>
                                                <th align="left">
                                                    <div style="float: left;"></div>
                                                </th>
                                                <th align="left">
                                                    <div style="float: right;">Year</div>
                                                </th>
                                                <th align="left">
                                                    <div style="float: right;">Price</div>
                                                </th>
                                                <th align="left">
                                                    <div style="float: right;">Post Date</div>
                                                </th>
                                            </tr> -->

                             <!--               <div class="clearfix float-my-children">
                                                <td width="120" valign="top" style="padding-right: 0px">
                                                    <img ng-src="{{car.image}}" width=100></td>
                                                <td width="320" valign="top" align="left"
                                                    style="border-left: 0px; padding-left: 0px;">
                                                    <span style="font-size: 15px;"><b>{{car.make}}
                                                        {{car.model}}</b></span>
                                                    <br>
                                                    <span>{{car.type}}, </span>
                                                    <span>{{car.engineType}}, {{car.transmission}}, </span>
                                                    <br>
                                                    <span>{{car.color}}, {{car.power}} kw/h</span>
                                                </td>
                                                <td width="60" valign="top" align="center">
                                                    <span>{{car.year}}</span>
                                                </td>
                                                <td width="100" valign="top" align="center">
                                                    <span class="span-right"><strong>{{car.price}}</strong></span>
                                                </td>
                                                <td width="120" valign="top" align="right">
                                                    <span ng-bind="car.postDate | date:'dd/mm/yyyy'" class="span-right">{{car.postDate}}</span>
                                                </td>


                                            </div> -->
                                        </table>

                                        <!--      <img ng-src="{{car.image}}">  <span class="span-right">{{car.imge}}</span> </img>
                                              <br>
                                              <span><strong>Make: </strong></span>
                                              <span class="span-right">{{car.make}}</span>
                                              <br>
                                              <span><strong>Model: </strong></span>
                                              <span class="span-right">{{car.model}}</span>
                                              <br>
                                              <span><strong>Type: </strong></span>
                                                  <span class="span-right">{{car.type}}</span>
                                              <br>
                                              <span><strong>Year</strong></span>
                                              <span class="span-right">{{car.year}}</span>
                                              <br>
                                              <span><strong>Kilometers</strong></span>
                                              <span class="span-right">{{car.kilometers}}</span>
                                              <br>
                                              <span><strong>Power</strong></span>
                                              <span class="span-right">{{car.power}}</span>
                                              <br>
                                              <span><strong>Engin Type</strong></span>
                                              <span class="span-right">{{car.engineType}}</span>
                                              <br>
                                              <span><strong>Transmission</strong></span>
                                              <span class="span-right">{{car.transmission}}</span>
                                              <br>
                                              <span><strong>Color</strong></span>
                                              <span class="span-right">{{car.color}}</span>
                                              <br>
                                              <span><strong>Post Date</strong></span>
                                              <span format="dd/MM/yyyy" class="span-right">{{car.postDate}}</span>
                                              <br>
                                              <span><strong>Price</strong></span>
                                              <span class="span-right"><strong>{{car.price}}</strong></span>
                                              <br>
                                              <span><strong>Link to offer</strong></span>
                                              <a href={{car.url}}>  <span class="span-right">{{car.source}}</span> </a> -->
                              <!--      </div>
                                </div>
                            </div> -->
                        </div><!-- ./col -->
                        <br>
                    </div>
                </div>
            </div>


            <div ng-repeat-end>
            </div>
  <!--      </section>-->
    </aside>
</div>