<div class="skin-blue">
    <aside class="right-side">
        <!-- Main content -->
        <section class="content">

            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <br>
                            <h3>
                                Cars Details
                            </h3>
                        </div>
                        <div class="icon">
                            <i class="ion ion-document-text"></i>
                        </div>
                        <a href="#/quick_search" class="small-box-footer"> More info <i class="fa fa-arrow-circle-right"></i>
                        </a>

                    </div>
                </div><!-- ./col -->
                <div class="col-lg-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <br>
                            <h3>
                                New Offers
                            </h3>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#/offers" class="small-box-footer"> More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <br>
                            <h3>
                                Charts<sup style="font-size: 20px"></sup>
                            </h3>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#/statistics" class="small-box-footer"> More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div><!-- ./col -->
            </div><!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-6 connectedSortable">
                    <!-- quick email widget -->
                    <div class="box box-info">
                        <div class="box-header">
                            <i class="fa fa-user"></i>
                            <h3 class="box-title">User Details</h3>
                        </div>
                        <div class="box-body">
                            <!--<form action="#" method="post">-->
                                <!--<div class="form-group">-->
                                    <!--<label for="firstname">First Name</label>-->
                                    <!--<input type="email" class="form-control" name="emailto" placeholder="First Name:"/>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label for="lastname">Last Name</label>-->
                                    <!--<input type="email" class="form-control" name="emailto" placeholder="Last Name:"/>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label for="email">E-mail</label>-->
                                    <!--<input type="email" class="form-control" name="emailto" placeholder="E-mail:"/>-->
                                <!--</div>-->
                            <!--</form>-->
                            <ul class="list-group">
                                <li class="list-group-item text-muted">User Profile</li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span> <span onbeforesave="update('email',$data)" editable-email="user.email" ng-bind="user.email" e-required></span> </li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>First name</strong></span> <span onbeforesave="update('firstName',$data)" editable-text="user.firstName" ng-bind="user.firstName" e-required></span></li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Last name</strong></span> <span onbeforesave="update('lastName',$data)" editable-text="user.lastName" ng-bind="user.lastName" e-required></span></li>

                            </ul>
                        </div>
                        <!--<div class="box-footer clearfix">-->
                            <!--<button class="pull-right btn btn-default" id="sendEmail">Save <i class="fa fa-arrow-circle-right"></i></button>-->
                        <!--</div>-->
                    </div>
                </section><!-- /.Left col -->
            </div><!-- /.row (main row) -->
        </section><!-- /.content -->
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->

</div>
