<div class="backgrd">
    <div class="header_main">
        <h1>Clever Observer</h1>
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
<div class="supporting">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="roundIcons"><i class="fa-before fa-pencil fa-4x" margin-top="80" height="128" width="128"></i></span>

                <h2>Create</h2>

                <p>Make A Car Description.</p>
            </div>
            <div class="col-md-4">
                <span class="roundIcons"><i class="fa-before fa-search fa-4x" height="128" width="128"></i></span>

                <h2>Find</h2>

                <p>Fast Way To Find Cars.</p>
            </div>
            <div class="col-md-4">
                <span class="roundIcons"><i class="fa-before fa-line-chart fa-4x" height="128" width="128"></i></span>

                <h2>Evaluate</h2>

                <p>All Your Car's Price In One Place.</p>
            </div>
        </div>
    </div>
</div>
<div class="download">
    <div class="join">
        <a href="#/login" class="btn btn-default">
            <span>Join</span></a>
    </div>
</div>
</div>
</div>
