
<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" role="form">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" ng-model="user.firstName" name="firstName" id="firstName" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" ng-model="user.lastName" name="lastName" id="lastName" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" name="email" ng-model="user.email" id="email" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" ng-model="user.password" name="password" id="password" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="repassword">Confirm Password</label>
            <input type="password" ng-model="user.repassword" name="repassword" id="repassword" class="form-control" required />
        </div>
        <div class="form-actions">
            <button type="submit" ng-click="register(user)" class="btn btn-primary">Register</button>
            <a href="#/login" class="btn btn-link">Login</a>
            <!--<a href="#/login" class="btn btn-link">Cancel</a>-->
        </div>
    </form>
</div>