<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>

    <form name="form" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">E-mail</label>
            <input type="text" ng-model="user.username" name="username" id="username" placeholder="E-mail:" class="form-control" required/>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" ng-model="user.password" name="password" id="password" placeholder="Password:" class="form-control" required/>
        </div>

        <div class="form-actions">
            <button type="submit" ng-click="update(user)" class="btn btn-primary">Login</button>
            <a href="#/register" class="btn btn-link">Register</a>
        </div>
    </form>
</div>