<div class="skin-blue">
<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Detailed Search
            </h1>
        </section>
        <form name="searchForm" ng-submit="searchSubmit()">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">

                    <div class="box box-danger">
                        <div class="box-header">
                            <h3 class="box-title">Make, Model</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <li for="makes" class="list-group-item text-right"><span class="pull-left"><strong>Make</strong></span> <span>
                                    <select name="makes" id="makes" ng-model="searchData.make">
                                        <option>      </option>
                                        <option ng-repeat="(key, data) in searchCar.cars" value="{{key}}">{{key}}</option>
                                    </select>
                                </span></li>
                                <li for="models" class="list-group-item text-right"><span class="pull-left"><strong>Model</strong></span>
                                    <select name="models" id="models" ng-model="searchData.model">
                                        <option>      </option>
                                        <option ng-repeat=" model in searchCar.cars[searchData.make]" value="{{model}}">{{model}}</option>

                                    </select><span></span></li>
                            </div>

                        </div><!-- /.box-body -->
                    </div><!-- /.box -->

                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">Vehicle Type</h3>
                        </div>
                        <div class="box-body">
                            <li for="types" class="list-group-item text-right"><span class="pull-left"><strong>Type</strong></span> <span>
                                    <select name="types" id="types" ng-model="searchData.type">
                                        <option>      </option>
                                        <option ng-repeat="type in searchCar.types" value="{{type}}">{{type}}</option>
                                    </select></span> </li>

                            <li class="list-group-item text-right"><span class="pull-left"><strong>Number
                                of Seats</strong></span> <span>
                                   <select ng-model="searchData.seats" ng-options='s for s in seats'><option value=""></option></select></span>

                            <li class="list-group-item text-right"><span class="pull-left"><strong>Number
                                of Doors</strong></span> <span>
                                   <select ng-model="searchData.doors" ng-options='d for d in doorss'><option value=""></option></select></span>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->

                    <div class="box box-info">
                        <div class="box-header">
                            <h3 class="box-title">Vehicle Search</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Year
                                    From</strong></span> <span>
                                   <select ng-model="searchData.fromYear" ng-options='y for y in years'><option value=""></option></select></span>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Year
                                    To</strong></span> <span>
                                   <select ng-model="searchData.toYear" ng-options='y for y in years'><option value=""></option></select></span>
                            </div>
                            <div class="form-group">
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Price
                                    From</strong></span> <span>
                                   <select ng-model="searchData.fromPrice" ng-options='p for p in prices'><option value=""></option></select></span>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Price
                                    To</strong></span> <span>
                                   <select ng-model="searchData.toPrice" ng-options='p for p in prices'><option value=""></option></select></span>
                            </div>
                            <div class="form-group">
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Power
                                    From</strong></span> <span>
                                   <select ng-model="searchData.fromPower" ng-options='p for p in prices'><option value=""></option></select></span>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Power
                                    To</strong></span> <span>
                                   <select ng-model="searchData.toPower" ng-options='p for p in prices'><option value=""></option></select></span></option></span> </li>
                                </div>
                            <div class="form-group">
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Kilometers
                                    From</strong></span> <span>
                                   <select ng-model="searchData.fromKilometers" ng-options='p for p in prices'><option value=""></option></select></span>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Kilometers
                                    To</strong></span> <span>
                                   <select ng-model="searchData.toKilometers" ng-options='p for p in prices'><option value=""></option></select></span>
                                </div>
                        </div><!-- /.box-body -->

                    </div><!-- /.box -->

                </div><!-- /.col (left) -->
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Engine</h3>
                        </div>
                        <div class="box-body">
                            <!-- Date range -->
                            <div class="form-group">
                                <li for="engines" class="list-group-item text-right"><span class="pull-left"><strong>Fuel Type</strong></span> <span>
                                    <select name="engines" id="engines" ng-model="searchData.engine">
                                        <option ng-repeat="engine in searchCar.engines" value="{{engine}}">{{engine}}</option>
                                    </select></span> </li>
                            </div><!-- /.form group -->
                            <div class="form-group">
                                <li for="transmissions" class="list-group-item text-right"><span class="pull-left"><strong>Transmission</strong></span> <span>
                                    <select name="transmissions" id=transmissions" ng-model="searchData.transmission">
                                        <option ng-repeat="transmission in searchCar.transmissions" value="{{transmission}}">{{transmission}}</option>
                                    </select></span> </li>
                            </div><!-- /.form group -->
                            <div class="form-group">
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Capacity
                                    From</strong></span> <span>
                                   <select ng-model="searchData.fromCapacity" ng-options='p for p in prices'><option value=""></option></select></span>
                                <li class="list-group-item text-right"><span class="pull-left"><strong>Capacity
                                    To</strong></span> <span>
                                   <select ng-model="searchData.toCapacity" ng-options='p for p in prices'><option value=""></option></select></span></option></span> </li>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->

                    <!-- iCheck -->
                    <div class="box box-success">
                        <div class="box-header">
                            <h3 class="box-title">Others</h3>
                        </div>
                        <div class="box-body">
                            <!-- Minimal style -->

                            <div class="form-group">
                                <li for="sources" class="list-group-item text-right"><span class="pull-left"><strong>Source</strong></span> <span>
                                    <select name="sources" id="sources" ng-model="searchData.source">
                                        <option ng-repeat="source in searchCar.sources" value="{{source}}">{{source}}</option>
                                    </select></span> </li>

                            </div><!-- /.form group -->

                            <!-- checkbox -->
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" class="minimal" />
                                    Rain Sensore
                                </label>
                            </div>

                            <!-- radio -->
                            <div class="form-group">
                                <label>
                                    <input type="radio" name="r1" class="minimal" />
                                    Ski Bag
                                </label>
                            </div>

                            <!-- Minimal red style -->

                            <!-- checkbox -->
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" class="minimal-red" />
                                    Start-stop system
                                </label>
                            </div>

                            <!-- radio -->
                            <div class="form-group">
                                <label>
                                    <input type="radio" name="r2" class="minimal-red" />
                                    ESP
                                </label>
                            </div>
                            <!-- Minimal red style -->
                            <!-- checkbox -->
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" class="flat-red" />
                                    Sunroof
                                </label>
                            </div>

                            <!-- radio -->
                            <div class="form-group">
                                <label>
                                    <input type="radio" name="r3" class="flat-red" />
                                    Hands-free kit
                                </label>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col (right) -->
            </div><!-- /.row -->
            <div class="box-footer">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">Save
                </button>
            </div>
        </section><!-- /.content -->
        </form>
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->
    </div>
