<div class="skin-blue">
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            <section class="content-header">
                <h1>
                    Quick Search
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-4">
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header">
                                <h3 class="box-title">Filter Details</h3>
                            </div>
                            <!-- /.box-header -->

                            <form name="searchForm" ng-submit="searchSubmit()">
                                <ul class="list-group">
                                    <li for="types" class="list-group-item text-right"><span class="pull-left"><strong>Type</strong></span> <span>
                                    <select name="types" id="types" ng-model="searchData.type">
                                        <option>      </option>
                                        <option ng-repeat="type in searchCar.types" value="{{type}}">{{type}}</option>
                                    </select></span></li>


                                    <li for="makes" class="list-group-item text-right"><span class="pull-left"><strong>Make</strong></span> <span>
                                    <select name="makes" id="makes" ng-model="searchData.make">
                                        <option>      </option>
                                        <option ng-repeat="(key, data) in searchCar.cars" value="{{key}}">{{key}}</option>
                                    </select>
                                </span></li>
                                    <li for="models" class="list-group-item text-right"><span class="pull-left"><strong>Model</strong></span>
                                        <select name="models" id="models" ng-model="searchData.model">
                                            <option>      </option>
                                            <option ng-repeat=" model in searchCar.cars[searchData.make]" value="{{model}}">{{model}}</option>

                                        </select><span></span></li>

                                    <li class="list-group-item text-right"><span class="pull-left"><strong>Year
                                        From</strong></span> <span>
                                   <select ng-model="searchData.fromYear" ng-options='y for y in years'><option value=""></option></select></span>
                                    <li class="list-group-item text-right"><span class="pull-left"><strong>Year
                                        To</strong></span> <span>
                                   <select ng-model="searchData.toYear" ng-options='y for y in years'><option value=""></option></select></span>
                                    <li class="list-group-item text-right"><span class="pull-left"><strong>Price
                                        From</strong></span> <span>
                                   <select ng-model="searchData.fromPrice" ng-options='p for p in prices'><option value=""></option></select></span>
                                    <li class="list-group-item text-right"><span class="pull-left"><strong>Price
                                        To</strong></span> <span>
                                   <select ng-model="searchData.toPrice" ng-options='p for p in prices'><option value=""></option></select></span>
                                </ul>

                                <div class="box-footer">
                                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">Save
                                    </button>
                                </div>
                            </form>


                        </div>
                        <!-- /.box -->
                    </div>
                    <!--/.col (left) -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </aside>
        <!-- /.right-side -->
    </div>
    <!-- ./wrapper -->
</div>